.music__list{
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    gap: 10px;
    margin: 10px;
}

@media (min-width:320px) and (max-width:480px) {
    .music__list {
margin: 3px 3px 90px 3px;
    }
   
}